

<app-header [page]="'Patient List'" [type]="'page'"></app-header>

<ion-content>
   <ion-grid class="">
     <ion-row>
       <ion-col size="12">
          <ion-title class="title">Patients</ion-title>
       </ion-col>
     </ion-row>
      <ion-row class="row header">
        <ion-col size="2" class="col">Full Name</ion-col>
        <ion-col size="2" class="col">Phone Number</ion-col>
        <ion-col size="2" class="col">Referral code</ion-col>
        <ion-col size="2" class="col">Profile</ion-col>
        <ion-col size="2" class="col">Order History</ion-col>
        <ion-col size="2" class="col">Block User</ion-col>
      </ion-row>
      <ion-row class="row" *ngFor="let patient of patients">
        <ion-col size="2" class="col">{{patient.firstname}}</ion-col>
        <ion-col size="2" class="col">{{patient.phoneNumber}}</ion-col>
        <ion-col size="2" class="col">none</ion-col>
        <ion-col size="2" class="col center "><ion-button class="button operation"><ion-icon class="edit" name="create-outline"></ion-icon></ion-button></ion-col>
        <ion-col size="2" class="col center "><ion-button expand="block" class="button">Details</ion-button></ion-col>
        <ion-col size="2" class="col center " *ngIf="!patient.status || patient.status != 'blocked'" ><ion-button class="button operation"><ion-icon class="block" name="lock-closed-outline"></ion-icon></ion-button></ion-col>
        <ion-col size="2" class="col center " *ngIf="patient.status && patient.status == 'blocked'"><ion-button class="button operation"><ion-icon  class="unblock" name="lock-open-outline"></ion-icon></ion-button></ion-col>
      </ion-row>
   </ion-grid>
</ion-content>
