

.header .col {
    background-color:lightgrey;
}

.col {
    border: solid 1px grey;
    border-bottom-style: none;
    border-right-style: none;
}

.center {
    text-align: center;
}

.col:last-child {
    border-right: solid 1px grey;
}

.row:last-child .col {
    border-bottom: solid 1px grey;
}


.button{
    text-align: center;
    width: 100%;
    text-emphasis: center;
    font-size: 7px;
}
.operation {
    --background: none;
    text-align: center;
}
.block {
    color:red;
    font-size: 26px;
}

.unblock {
    color:green;
    font-size: 26px;
}

.edit {
    font-size: 26px;
    color:black
}

.title {
    font-size: 30px;
    font-weight: bold;
    padding: 30px;
    text-align: center;
    width: 100%;
}