<ion-slides pager="true" [options]="slideOpts">

  <ion-slide  class="animate-item">
    <ion-card class="card" (click)="goTo('referal')">
      <ion-text>
        Referals will grow your community
      </ion-text>
        <img src="/assets/imgs/marketing.svg">
    </ion-card>
  </ion-slide>
  <ion-slide  class="animate-item">
    <ion-card class="card" id="card-pharmacy" (click)="goTo('messages')">
      <ion-text>
        Your users may have problems see what they have
      </ion-text>
        <img src="/assets/imgs/pharmacy.png">
    </ion-card>
  </ion-slide>
  <ion-slide  class="animate-item">
    <ion-card class="card" id="card-categorie" (click)="goTo('mainproducts')">
      <ion-text>
        Medecins is all what patients looking for ?
      </ion-text>
        <img src="/assets/imgs/pills.png">
    </ion-card>
  </ion-slide>
  <ion-slide  class="animate-item">
    <ion-card class="card" id="card-post" (click)="goTo('prescriptions')">
      <ion-text>
        See Patietns Prescriptions
      </ion-text>
        <img src="/assets/imgs/medical-prescription.png">
    </ion-card>
  </ion-slide>

  <ion-slide  class="animate-item">
    <ion-card class="card" id="card-categorie" (click)="goTo('orders')">
      <ion-text>
        See Orders
      </ion-text>
        <img src="/assets/imgs/shopping-cart.svg">
    </ion-card>
  </ion-slide>

</ion-slides>